{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{# header_top section #}
{% if page.header_top %}
<section id="header-top">
  <div class="container-fluid">
    {{ page.header_top }}
  </div>
</section>
{% endif %}

{# header section #}
{% if page.header %}
<section id="header">
  <div class="container-fluid">
    {{ page.header }}
  </div>
</section>
{% endif %}

{# headline section#}
{% if page.headline %}
<section id="headline">
  <div class="container-fluid">
    <div class="col-xs-12">
      {{ page.headline }}
    </div>
  </div>
</section>
{% endif %}

{# content section #}
<section id="content">
  <div class="container-fluid">
    <div class="row">
      {% if page.before_content %}
        <div class="col-12">
          {{ page.before_content }}
        </div>
      {% endif %}
    
      {% if page.sidebar_first %}
        <div class="col-12 col-sm-3">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      
      {% if page.sidebar_first and page.sidebar_second %}
        <div class="col-12 col-sm-6">
      {% elseif page.sidebar_first or page.sidebar_second %}
        <div class="col-12 col-sm-9">
      {% else %}
        <div class="col-12">
      {% endif %}
      
      {% if page.help %}
        {{ page.help }}
      {% endif %}
      
      {% if page.highlighted %}
        {{ page.highlighted }}
      {% endif %}
      
      {{ page.content }}
        </div>
      
      {% if page.sidebar_second %}
        <div class="col-12 col-sm-3">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
      
      {% if page.after_content %}
        <div class="col-12">
          {{ page.after_content }}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{# footer section #}
{% if page.footer_left or page.footer_right %}
<section id="footer">
  <div class="container-fluid">
    <div class="row">
      {% if page.footer_left %}
      <div class="col-12 col-sm-6">
        {{ page.footer_left }}
      </div>
      {% endif %}
      
      {% if page.footer_right %}
      <div class="col-12 col-sm-6">
        {{ page.footer_right }}
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{# footer bottom #}
{% if page.footer_bottom_left or page.footer_bottom_right %}
<section id="footer-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6">
        {{ page.footer_bottom_left }}
      </div>
      <div class="col-12 col-sm-6">
        {{ page.footer_bottom_right }}
      </div>
    </div>
  </div>
</section>
{% endif %}