{#
/**
  @file
  Default implementation for incident.html.twig
  - title : Incident title
**/
#}

<div class="incident">
  <h2>{{ 'Development'|t }}</h2>
  <p>{{ development['name'] }}</p>
  <h2>{{ 'Status'|t }}</h2>
  <p>{{ status }}</p>
  <h2>{{ 'Location'|t }}</h2>
  <p>{{ location }}</p>
  <h2>{{ 'Description'|t }}</h2>
  <p>{{ description }}</p>
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>{{ 'Files'|t }}</th>
      </tr>
    </thead>
    <tbody>
    {% if files  %}
        {% for file in files %}
        <tr>
          <th><a href="{{ file_url(file['fileuri']) }}">{{ file['filename'] }}</a></th>
        </tr>
        {% endfor %}
    {% else %}
      <tr>
        <th>{{ 'No files found.'|t }}</th>
      </tr>
    {% endif %}
    </tbody>
  </table>
</div>
{% if messages %}
<div class="messages" style="border: none">
  <h2>{{ 'Messages'|t }}</h2>
  {% for message in messages %}
      <div class="message" style="margin: 1em; padding: 1em; background-color: #f2f2f2">
        {% if message['links'] %}
        <div class="buttons">
          {% if message['links']['alter_message'] %}
          <a class="button" href="{{ path('eincidencias.message', {'operation':'alter', 'node':message['entity'].id()}) }}">Alter</a>
          {% endif %}
        </div>
        {% endif %}
        <h3>{{ 'From'|t }}</h3>
        <p>{{ message['from'] }}</p>
        <h3>{{ 'Subject'|t }}</h3>
        <p>{{ message['subject'] }}</p>
        <h3>{{ 'Message'|t }}</h3>
        <p>{{ message['message'] }}</p>
        {% if message['files'] %}
        <table class="table table-bordered table-stripped">
          <thead>
            <tr>
              <th>{{ 'Files'|t }}</th>
            </tr>
          </thead>
          <tbody>
          {% if message['files']  %}
            {% for file in message['files'] %}
            <tr>
              <th><a href="{{ file_url(file['fileuri']) }}">{{ file['filename'] }}</a></th>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <th>{{ 'No files found.'|t }}</th>
            </tr>
          {% endif %}
          </tbody>
        </table>
        {% endif %}
        <p style="font-style: italic; text-align: right">{{ message['entity'].createdtime | date('d/m/Y - H:i') }}</p>
      </div>
  {% endfor %}
</div>
{% endif %}