body {
	font-family: 'Roboto Slab',serif;
    font-size: 1rem;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h3 {
	padding: 1em 0 1em 0;
}

/* Menu local task block */
.menu-local-tasks-block {
	padding-bottom: 1em;
}

/* Action links */

.action-links {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.action-links li {
  display: inline-block;
  margin: 0 0.3em;
}

/* Header Top */

#header-top {
	background-color: #243082;
	padding: 9px;
	color: white;
	text-align: center;
}

#header-top p {
	margin: 0;
	font-size: 18px;
}

#header-top i {
	padding-right: 5px;
	font-size: 20px;
}

#header-top a, #header-top a:hover, #header-top a:visited {
	color: white;
	text-decoration: none;
}

/* Header */

#header {
	padding: 3em 0 3em 0;
}

.logo {
	margin: 0 auto;
	max-width: 75%;
}

/* Headline */

#headline {
	padding: 2em 0 2em 0;
}

#headline h1,
#headline h2 {
	text-align: center;
}

/* Formulario login */

#loginform {
	width: 100%;
	max-width: 400px;
	padding: 2em;
	margin: 0 auto;
}

#loginform [type=submit] {
	display: block;
	margin: 0 auto;
}

/* Content */

#content {
	padding: 2em 0 2em 0;
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
}

/* Status messages */
.status-messages li {
	list-style: none;
}

/* Formularios */

input[type=submit][name=files_upload_button] {
	margin: 0.5em 0 0.5em 0;
}

.webform-submission-form label,
.webform-submission-form input,
.webform-submission-form textarea,
.webform-submission-form .description {
  clear: both;
  float: left;
  width: 100%;
}

.webform-submission-form .form-item {
  height: auto;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.webform-submission-form .description {
  font-size: 10px;
}


/* Footer */

#footer {
	border-top: 2px solid #f4cc07;
	background: url("../img/white_wall_hash.png") repeat top left;
	padding: 10px 0 50px 0;
}

#footer .contacto {
	float: left;
	overflow: hidden;
	height: auto;
}

#footer .webform-submission-form input[type="submit"] {
	width: initial;
}

#footer .direccion,
#footer .sellos,
#footer .marker,
#footer .datos {
  float: left;
}

#footer .varios {
	clear: left;
	float: left;
}

#footer .marker {
	padding-right: 10px;
}

#footer .varios span {
	padding-right: 10px;
}

#footer .sellos {
	padding-left: 30px;
}

#footer .sellos img {
	padding: 0 10px 0 10px;
}

/* Bottom footer */

#footer-bottom {
  background-color: #243082;
  padding: 9px;
  color: white;
}

#footer-bottom p.copyright {
  padding-top: 10px;
}

#footer-bottom p.copyright a {
	color: #e07175;
	transition: all 0.5s ease 0s;
}

#footer-bottom p.copyright a:hover {
	text-decoration: none;
	color: #d43a40;
}

#footer-bottom ul.nav-secondary {
	float: right;
}

@media all and (max-width: 767px) {
	#footer-bottom ul.nav-secondary {
	  float: left;
	}

  #footer-bottom .copyright {
    text-align: center;
  }
}

#footer-bottom ul.nav-secondary > li > a:hover,
#footer-bottom ul.nav-secondary > li > a:focus {
	background-color: transparent;
}
